<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="ml-[220px] mr-[20px] px-8 bg-[#091336] py-4 flex">
        <ul class="flex mx-auto justify-center gap-8 text-white">
            <li><a href="">Booking List</a></li>
        </ul>

        <div class="text-white shadow-md shadow-white rounded-full h-[35px] w-[35px] text-center hover:bg-white hover:text-[#091336] hover:shadow-none">
            <a href="/bookings/add"><i class="fa-solid fa-plus text-[25px] mt-[5px]"></i></a>
        </div>
    </div>
    
</body>
</html>