<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    
    <aside class="bg-[#091336] w-[200px] px-4 py-4 h-screen fixed">
        <div>
            <ul class="text-white">
                <li class="mb-4"><a href="/programs"><span class="mr-4"><i class="fa-solid fa-person-swimming"></i></span>Programs</a></li>
                <!-- <li class="mb-4"><a href="/reservation"><span class="mr-4"><i class="fa-solid fa-user-plus"></i></span></i>Make Reservation</a></li> -->
                <li class="mb-4"><a href="/bookings"><span class="mr-4"><i class="fa-solid fa-book"></i></span>Booking</a></li>
                <li class="mb-4"><a href="/search"><span class="mr-4"><i class="fa-solid fa-magnifying-glass"></i></span>Search</a></li>
            </ul>
        </div>

        <div class="w-full h-[1px] bg-white my-8"></div>

        <ul class="text-white">
            <li class="mt-4"><a href=""><span><i class="fa-solid fa-user-plus"></i></span>Sign up</a></li>
            <li class="mt-4"><a href=""><span><i class="fa-solid fa-user-plus"></i></span>Contact us</a></li>
            <li class="mt-4"><a href=""><span><i class="fa-solid fa-user-plus"></i></span>Terms of Service</a></li>
            <li class="mt-4"><a href=""><span><i class="fa-solid fa-user-plus"></i></span>About us</a></li>
        </ul>
    </aside>
    
</body>
</html>